@model ACTYouthServicesWeb.Models.Service

@{
    ViewBag.Title = "Index";
}
<h1>Welcome</h1>
<p>The ACT Youth Homelessness Services Directory is a resource which young people in the ACT, who find themselves homeless or at risk of becoming homeless can find services to help them in their time of need.</p>
<p>The map below can be used to find services which are close to you.To look for services based on their type, <a href="~/Services/ServicesType">click here</a>. To look for services by their nearset town center <a href="~/Services/ServicesLocation">click here</a>.</p>
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 80vh; /* The height is 80% of the height of the screens*/
        width: 100%; /* The width is the width of the web page */
    }
</style>




<h3>Services near you</h3>
<!--The div element for the map -->
@using (Html.BeginForm())
{
    <p>
        Search for service @Html.TextBox("SearchString")
        <input class="mainMap" type="submit" value="Search" onclick="showResults" />
    </p>
}


<div id="map"></div>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            /*set default map centre as city hill in Canberra's CBD*/
            center: { lat: -35.282110, lng: 149.128641 },
            zoom: (13.5)
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('You are here.');
                infoWindow.open(map);
                map.setCenter(pos);
                /*If user is interstate, ask them if they want to go to interstate page*/

                if (position.coords.longitude > 149.3) {
                    if (window.confirm("It appears you are visiting the website from outside of the ACT. Click OK to go to the relevant directory for your state or territory, or click Cancel to stay on this page.")) {
                        window.location.href = "/Services/Interstate";
                    }
                };
                if (position.coords.longitude < 148.80) {
                    if (window.confirm("It appears you are visiting the website from outside of the ACT. Click OK to go to the relevant directory for your state or territory, or click Cancel to stay on this page.")) {
                        window.location.href = "/Services/Interstate";
                    }
                };

                if (position.coords.latitude > (center.lat + 0.5)) {
                    if (window.confirm("It appears you are visiting the website from outside of the ACT. Click OK to go to the relevant directory for your state or territory, or click Cancel to stay on this page.")) {
                        window.location.href = "/Services/Interstate";
                    }
                };
                if (position.coords.latitude < (center.lat - 0.5)) {
                    if (window.confirm("It appears you are visiting the website from outside of the ACT. Click OK to go to the relevant directory for your state or territory, or click Cancel to stay on this page.")) {
                        window.location.href = "/Services/Interstate";
                    }
                };

            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }


        /*Plot points from database coordinates*/
        /*Not quite sure how to do this, can anyone help*/
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Could not load your location.' :
            'Error: Your browser doesnt support geolocation.');
        infoWindow.open(map);
    }
</script>

<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXq96VjA3ovASTp9u95xIFoNifTgSZWFk&callback=initMap">
</script>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h3>Search</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
-->

<h3>Services</h3>
<p>Insert list of services from map here</p>
<!--Return results based on search terms-->
<div class="searchResults">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Health)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Legal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th></th>
        </tr>
        <!--Only show records where shelter is true-->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shelter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Health)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Legal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ServiceID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ServiceID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ServiceID })
                </td>
            </tr>
        }
    </table>
</div>
