@model IEnumerable<ACTYouthServicesWeb.Models.Service>
@{
    ViewBag.Title = "Diversity";
}

<h2>Diversity and Inclusion</h2>
<p>Services in this catgeory cater to the needs of people who belong to minority groups and promote inclusion and diversity.</p>
<hr />
@using (Html.BeginForm())
{
    <p>
        Search for a service @Html.TextBox("SearchString")
        <input class="mainMap" type="submit" value="Find Services" onclick="showResults" />
    </p>
}
<hr />
@foreach (var item in Model.Where(model => model.Diversity == true))
{
    <div class="card">
        <div class="card-body">
            <img class="card-img-top" src="~/Content/img/Types.png" alt="four squares with the top left shaded darker">
            <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
            <p class="card-text">@Html.DisplayFor(modelitem => item.Description)</p>
            <!--
            <h4>@Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(modelItem => item.Phone)</h4>
            <h4>@Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(modelItem => item.Location)</h4>
            -->
        </div>
        <a href="~/Home/Details/@Html.DisplayFor(modelItem => item.ServiceID)" class="btn btn-primary btn-block">Go to @Html.DisplayFor(modelItem => item.Name)'s page </a>
    </div>
}


